<div class="nav-bar">
    <div class="logo">
      <h2>Civic Tech Case Finder</h2>
      <a href="http://www.microsoft.com" target="_blank" title="Microsoft">
      <img src="assets/msr_white_logo.png" >
      </a>
    </div>
    <nav>
      <div class="nav-list">
        <ul>
          <li><a href="/all">See All Cases</a></li>
          <li><a href="#section-2" title="SECTION 2">Contact</a></li>
          <li><a href="#section-3" title="SECTION 3">Terms & Conditions</a></li>
        </ul>          
    </nav>
  </div>
<div class="page-title">
	<h3> ALL CASE STUDIES </h3>
</div>
<div class="cases">
	<div class="case-study">
		<% @cases.each do |case_study| %>
			<div class="case-number">
				<h4><%= case_study.id %>. <%= case_study.title %><h4>
			</div>
			<div class="description">
				<p><%= case_study.description %></p>
			</div>
			<div class="tag">
				<% case_study.tools.each do |tool| %>
					<p><%= tool.name %></p>
				<% end %>
				<% case_study.sectors.each do |sec| %>
					<p><%= sec.name %></p>
				<% end %>
			</div>
			<div class="link">
				<a href=<%= case_study.link %> target="_blank">Explore This Case</a> 
			</div>
      <div class="image">
        <a href="http://www.microsoft.com" target="_blank" title="Name of Partner 1"><img src="http://placehold.it/360x160"></a>
      </div>

	 <!--  <div class="description">
		  <p><%= case_study.description %></p>
	  </div>
	  <div class="link">
		  <a href=<%= case_study.link %> target="_blank">Explore This Case</a> 
	  </div>
    <br>
	  <br>
	    <% end %> -->
	</div>
</body>
</div>