<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Civic Tech </title>
    <link href="./stylesheets/base.scss" rel="stylesheet">
    <link
    href='http://fonts.googleapis.com/css?family=Roboto:900,500,400,300,100' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="nav-bar">
    <div class="logo">
      <h2>Civic Tech Case Finder</h2>
      <a href="http://www.microsoft.com" target="_blank" title="Microsoft">
      <img src="assets/msr_logo.jpg" >
      </a>
    </div>
    <nav>
      <div class="nav-list">
        <ul>
          <li><a href="/all">See All Cases</a></li>
          <li><a href="#section-2" title="SECTION 2">Contact</a></li>
          <li><a href="#section-3" title="SECTION 3">Terms & Conditions</a></li>
        </ul>          
    </nav>
  </div>
  <header>
  </header>
  <section class="description">
    <div class="intro">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ipsum pretium, efficitur erat ac, posuere orci. Curabitur magna nulla, sagittis scelerisque ipsum sit amet, maximus sagittis ex. Nunc ex odio, ornare eu maximus sed, pulvinar non ante. Integer vehicula sem ultrices, dignissim est sit amet, pharetra massa.Praesent iaculis, massa a porta lacinia, metus tortor viverra ipsum, eget ornare sem velit at augue. Suspendisse ut pellentesque neque, rhoncus aliquam velit. Maecenas convallis eros sem, eu egestas ligula imperdiet vitae.</p>
    </div>
  </section>
  <section class="questions">
    <div class="input1">
      <p>What subject do you teach?<p>
      <label>
      <select name="subject_id" class="turnintodropdown" id="subject_id">
        <option selected>Select</option>
        <% @subjects.each do |subj| %>
          <option value=<%= subj.name %>><%= subj.name %></option>
        <% end %>

      </select>
      </label>
      <p>What grade level do you teach?<p>
      <label>
      <select name="grade_id" id="grade_id">
        <option selected>Select</option>
        <% @grades.each do |grade| %>
          <option value=<%= grade.name %>><%= grade.name %></option>
        <% end %>
      </select>
      </label>
      <p>What tools interest you?<p>
      <label>
        <form action="demo_form.asp" method="get">
          <% @tools.each do |tool| %>
          <input type="checkbox" name="tool" value=<%= tool.name %>> <%= tool.name %><br>
          <% end %>
          
        </form>
        </label>
    </div>

    <div class="input2">
      <p>Are your students technical?</p>
    <label>
        <select name="sector_id" id="sector_id">
          <option selected>Select</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
          <option value="maybe">Maybe</option>
        </select>
      </label>
      <p>What sectors interest you?<p>
        <label>
          <form action="demo_form.asp" method="get">
          <% @sectors.each do |sector| %>
            <input type="checkbox" name="sector" value=<%= sector.name %>> <%= sector.name %><br>
          <% end %>
          
          </form>
        </label>

      <p>What problems interest you?<p>
      <label>
        <form action="demo_form.asp" method="get">
          <% @problems.each do |problem| %>
            <input type="checkbox" name="problem" value=<%= problem.name %>> <%= problem.name %><br>
          <% end %>
          </form>  
      </label>
    </div>
  </section>
  
