<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Civic Tech </title>
    <link href="./stylesheets/base.scss" rel="stylesheet">
    <link
    href='http://fonts.googleapis.com/css?family=Roboto:900,500,400,300,100' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="nav-bar">
    <div class="logo">
      <h2>Civic Tech Case Finder</h2>
      <a href="http://www.microsoft.com" target="_blank" title="Microsoft">
      <img src="assets/msr_white_logo.png" >
      </a>
    </div>
    <nav>
      <div class="nav-list">
        <ul>
          <li><a href="/all">See All Cases</a></li>
          <li><a href="#section-2" title="SECTION 2">Contact</a></li>
          <li><a href="#section-3" title="SECTION 3">Terms & Conditions</a></li>
        </ul>          
    </nav>
  </div>
  <header>
  </header>
  <section class="description">
    <div class="intro">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ipsum pretium, efficitur erat ac, posuere orci. Curabitur magna nulla, sagittis scelerisque ipsum sit amet, maximus sagittis ex. Nunc ex odio, ornare eu maximus sed, pulvinar non ante. Integer vehicula sem ultrices, dignissim est sit amet, pharetra massa.Praesent iaculis, massa a porta lacinia, metus tortor viverra ipsum, eget ornare sem velit at augue. Suspendisse ut pellentesque neque, rhoncus aliquam velit. Maecenas convallis eros sem, eu egestas ligula imperdiet vitae.</h3>
    </div>
  </section>

  <section class="questions">
    <%= form_tag main_find_path, method: :post do %>
          <div class="input1">
      <p>What subject do you teach?<p>
      <label>
      <select name="subject_id" class="turnintodropdown" id="subject_id">
        <option selected>Select</option>
        <% @subjects.each do |subj| %>
          <option value=<%= subj.name %>><%= subj.name %></option>
        <% end %>
      </select>
      </label>
      <h3>What grade level do you teach?</h3>
      <label>
      <select name="grade_id" id="grade_id">
        <option selected>Select</option>
        <% @grades.each do |grade| %>
          <option value=<%= grade.name %>><%= grade.name %></option>
        <% end %>
      </select>
      </label>
        <h3>Which sector interest you?</h3>
          <% @sectors.each_with_index do |sector, i| %>
            <%= check_box_tag "sector#{i}", sector.name %><%= sector.name %><br>
          <% end %>
    </div>
    <div class="input2">
      <h3>Are your students technical?</h3>
        Yes <input class="tech" type="radio" name="group1" value="yes">
        No <input class="tech" type="radio" name="group1" value="no">
        Maybe <input class="tech" type="radio" name="group1" value="maybe">
      <h3>Which problems interest you?</h3>
            <% @problems.each_with_index do |problem, i| %>
              <%= check_box_tag "problem#{i}", problem.name %><%= problem.name %><br>
            <% end %>
      <h3>Which tools interest you?</h3>
            <% @tools.each_with_index do |tool, i| %>
              <%= check_box_tag "tool#{i}", tool.name %><%= tool.name %><br>
            <% end %>
      </div>
    <div class="button">
      <%= submit_tag 'Submit', :class => 'submit', :style => "color: white;
      background-color: #00a1f1;
      border: none;
      height: 30px;
      width: 150px;
      font-size: 14px;
      position:absolute;
      top: 680px;
      left: 990px" %>
      <% end %>
    </div>
  </section>
  
